# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

DOCKER_PROJECT_NAME=fixPre
DOCKER_NGINX_PORT=8192
DOCKER_DATABASE_PORT=3505
DATABASE_PASSWORD= # <--- ADD YOUR SECRET DATABASE PASSWORD HERE

# Telegram bot runs only with: docker compose --profile backup
# Used for sending backup files to the specified Telegram chat
DOCKER_TGBOT_PORT=6507

###> symfony/framework-bundle
APP_ENV=dev
APP_SECRET= # <--- ADD YOUR OWN SECRET (e.g., from `php bin/console secrets:set APP_SECRET`)
###< symfony/framework-bundle

###> doctrine/doctrine-bundle
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
DATABASE_URL=mysql://root:${DATABASE_PASSWORD}@db:3306/${DOCKER_PROJECT_NAME}
###< doctrine/doctrine-bundle

###> nelmio/cors-bundle
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle

###> lexik/jwt-authentication-bundle
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE= # <--- ADD YOUR SECRET JWT PASSPHRASE HERE
TOKEN_ACCESS_EXPIRATION_PERIOD=P1D
TOKEN_REFRESH_EXPIRATION_PERIOD=P2M
###< lexik/jwt-authentication-bundle

# --- Project Specific Secrets ---
GEMINI_API_KEY= # <--- ADD YOUR SECRET GOOGLE AI API KEY HERE

# --- Messenger (Redis) ---
MESSENGER_TRANSPORT_DSN=redis://redis:6379/messages

### mailserver
MAILSERVER_DOMAINNAME=
MAILSERVER_DKIM_SELECTOR=dmail
MAILSERVER_EMAIL_PASSWORD= # <--- ADD YOUR SECRET EMAIL PASSWORD HERE
MAILSERVER_FROM_NAME=
MAILSERVER_EMAIL=
## don't forget use $MAILSERVER_EMAIL also as a returnPath email

#### symfony/mailer
# MAILER_DSN=smtp://${MAILSERVER_EMAIL}:${MAILSERVER_EMAIL_PASSWORD}@mailserver:587

###> symfony/messenger ###
# This transport is used by default. We are using the Redis one above.
# MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###
